<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test-shop</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a href="index.html" class="header__logo logo">Compony<span>name</span></a>
                <div class="header__actions">
                    <a href="#" class="header__cart cart-icon _center">
                        <img src="images/cart.svg" alt="cart" class="cart-img">
                    </a>
                    <div class="header__actions-dropdown">
                        <ul class="header__actions-list list-actions">
                        </ul>
                        <div class="header__actions-info">Кошик пустий (0 грн)</div>
                        <a href="#" class="reset-link">Очистити</a>
                    </div>
                </div>
            </div>
        </div>
    </header>