.footer {
    padding: 25px 0;
    background: #000;
}
.container {
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo {
    color: #fff;
}
.footer__inner-text {
    color: #fff;
    max-width: 500px;
}